header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*height: 20vh;*/
  color: white;
  font-size: 2rem;
  line-height: .5;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(Office-Day/SnapShots/Office-Day.jpg) no-repeat;
  background-size: cover;
}

.signup-and-login-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 466px;
  max-height: 520px;
  padding: 40px;
  background-color: #24313c;
}

.signup-and-login-form {
  height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.tab-group {
  display: flex;
  flex-direction: row;
  /*width: 100%;*/
}

.tab {
  list-style: none;
}

li a {
  /*list-style: none;*/
  padding: 20px;
  background-color: rgba(67, 81, 89, 0.8);
  width: 49%;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;

}
