header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*height: 20vh;*/
  color: white;
  font-size: 2rem;
  line-height: .5;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(Office-Day.jpg) no-repeat;
  background-size: cover;
}

.signup-and-login-form-wrapper {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signup-and-login-form {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
