<form class="logout" ng-submit="user.logout()" method="post">
  <input type="submit" name="logout" value="LOG OUT">
</form>

<!-- EDIT todo FORM -->
<div class="module-card" ng-show="user.showEditForm">
  <form class="new-destination" ng-submit="user.editToDo(user.editedToDo)" method="post">
    <div class="module-card-title"><input type="text" ng-model="user.editedToDo.title" id="title" value=""></div>
    <div class="module-card-meta">
      <div class="module-card-category">
        <span class="fa fa-tag"></span>
        <label for="dateStart">Start:      </label>
        <span><input type="date" ng-model="user.editedToDo.dateStart" id="dateStart" placeholder="start date"></span>
      </div>
      <div class="module-card-author">
        <label for="dateDue">End:      </label>
        <span class="fa fa-user"></span>
        <span><input type="date" ng-model="user.editedToDo.dateDue" id="dateDue" placeholder=""></span>
      </div>
    </div> <!-- /module-card-meta -->

    <div class="module-card-bottom">
      <input type="url" ng-model="user.editedToDo.imageUrl" id="imageUrl" placeholder="image url">
      <div>
        <textarea ng-model="user.editedToDo.notes" rows="6" cols="25" id="notes" placeholder="notes: 160 characters or less" maxlength="160"></textarea>
      </div>
      <div class="module-card-button-wrap">
        <button class="module-card-button">Update!</button>
      </div>
    </div>
  </form>
</div>


<div class="module-card-wrap">

  <!-- ADD A NEW todo -->
  <div class="module-card">
    <form class="new-destination" ng-submit="user.addToDo()" method="post">
      <div class="module-card-title"><input type="text" ng-model="user.newToDo.title" id="title" placeholder="title"></div>
      <div class="module-card-meta">
        <div class="module-card-category">
          <span class="fa fa-tag"></span>
          <label for="dateStart">Start:      </label>
          <span><input type="date" ng-model="user.newToDo.dateStart" id="dateStart" placeholder="start date"></span>
        </div>
        <div class="module-card-author">
          <label for="dateDue">Due:      </label>
          <span class="fa fa-user"></span>
          <span><input type="date" ng-model="user.newToDo.dateDue" id="dateDue" placeholder=""></span>
        </div>
      </div> <!-- /module-card-meta -->

      <div class="module-card-bottom">
        <!-- <input type="url" ng-model="user.newToDo.imageUrl" id="imageUrl" placeholder="image url"> -->
        <div>
          <textarea ng-model="user.newToDo.notes" rows="6" cols="25" id="notes" placeholder="notes: 160 characters or less" maxlength="160"></textarea>
        </div>
        <div class="module-card-button-wrap">
          <button class="module-card-button">Add!</button>
        </div>
      </div>
    </form>
  </div>

<!-- SHOW ALL toDos AS CARDS -->
  <div class="module-card" ng-repeat="toDo in user.myToDos">
    <div class="module-card-title">{{toDo.title}}</div>
    <div class="module-card-meta">
      <div class="module-card-category">
        <span class="fa fa-tag"></span>
        <span>{{toDo.dateStart | date: 'mediumDate'}}</span>
      </div>
      <div class="module-card-author">
        <span class="fa fa-user"></span>
        <span>{{toDo.dateDue | date: 'mediumDate'}}</span>
      </div>
    </div> <!-- /module-card-meta -->

    <div class="module-card-bottom">
      <!-- <img src="{{toDo.imageUrl}}" alt="cheesecake" class="module-card-img" /> -->

      <div>
        <p>{{toDo.notes}}</p>
      </div>
      <div class="module-card-button-wrap">
        <button ng-click="user.deleteToDo(toDo._id)" class="module-card-button">Delete Me!</button>
        <button ng-click="user.setToDoToEdit(toDo)" class="module-card-button">Edit Me!</button>
      </div>
    </div>
  </div>

</div> <!-- END module-card-wrap -->
